<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MouseMapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MouseMapper.Properties.Settings>
            <setting name="R" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="G" serializeAs="String">
                <value>137</value>
            </setting>
            <setting name="B" serializeAs="String">
                <value>167</value>
            </setting>
            <setting name="DefaultlblFont" serializeAs="String">
                <value>Calibri Light, 14.25pt</value>
            </setting>
            <setting name="DefaulttxtFont" serializeAs="String">
                <value>Calibri Light, 9pt</value>
            </setting>
            <setting name="Rb" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="Gb" serializeAs="String">
                <value>137</value>
            </setting>
            <setting name="Bb" serializeAs="String">
                <value>167</value>
            </setting>
            <setting name="isTransparent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Rf" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Gf" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="Bf" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="DefaultSubText" serializeAs="String">
                <value>Calibri Light, 12pt</value>
            </setting>
        </MouseMapper.Properties.Settings>
    </userSettings>
</configuration>